body {
    font-family: 'Montserrat', sans-serif;
}

/*************TOP CONTAINER*************/

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

.title-image {
    width: 60%;
    transform: rotate(15deg);
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Navigation bar */

.navbar {
    padding:0 0 4.5rem 0;    
}

.nav-item {
    font-size: 1.2rem;
    font-weight: light;
    padding: 0 8px 0 8px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* FEATURES */

#features {
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.featurestitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5rem;
}

.featuresicon {
    color: #ef8172;    
}

.featuresicon:hover {
    color: #ff4c68
}

.featurestext {
    color: #8f8f8f;
}